<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dashboard</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	
</head>
<body>
	<h3>Dashboard</h3>
	<p>Dear <%= user.username %>, you're logged in, <a href="/logout">Logout</a></p>
	<div>
		<table cellspacing="10" cellpadding="5">
			<thead>
				<th>ID</th>
				<th>Username</th>
				<th>Email</th>
				<th>Password</th>
			</thead>

			<tbody>
				<td><%= user.id %></td>
				<td><%= user.username %></td>
				<td><%= user.email %></td>
				<td><tt>null</tt></td>
			</tbody>
		</table>
	</div>

</body>
</html>